In [1]:
import pandas as pd

In [2]:
Facility = pd.read_csv("Downloads\\FACILITY.csv")
Parcel = pd.read_csv("Downloads\\Updated_Parcel-2.csv")
L606 = pd.read_csv("Downloads\\Updated_L606(1).csv")

In [3]:
Facility.head(5)

,FDB ID,FACILITY NAME,LOCALE KEY,NASS CODE,FACILITY ZIP,FINANCE NUMBER,FACILITY TYPE,FACILITY SUBTYPE,FACILITY ADDRESS,FACILITY CITY,FACILITY STATE,BMEU INDICATOR
0,1353633,ATWATER,Y24761,56209,562095000,260420.0,Post Office,Administrative Post Office,107 3RD ST N,ATWATER,MN,Y
1,1353634,ATWATER,Z20151,95301,953019998,50384.0,Post Office,Main Post Office,1599 BROADWAY AVE,ATWATER,CA,Y
2,1353635,ATWATER,X20119,44201,442019998,380350.0,Post Office,Administrative Post Office,6713 WATERLOO RD,ATWATER,OH,NaN
3,1353636,ATWOOD,W20081,67730,677309998,190561.0,Post Office,Administrative Post Office,501 MAIN ST,ATWOOD,KS,Y
4,1353637,ATWOOD,W11922,61913,619139998,160396.0,Post Office,Administrative Post Office,117 W CENTRAL ST,ATWOOD,IL,Y

In [7]:
Facility['FACILITY ZIP'] = Facility['FACILITY ZIP'].apply(str)
Facility['FACILITY_ZIP2'] = Facility['FACILITY ZIP'].apply(lambda x: x.zfill(9))
Facility['FACILITY_TRIM_ZIP'] = Facility['FACILITY_ZIP2'].str[:5]

In [9]:
Facility.head(10)

,FDB ID,FACILITY NAME,LOCALE KEY,NASS CODE,FACILITY ZIP,FINANCE NUMBER,FACILITY TYPE,FACILITY SUBTYPE,FACILITY ADDRESS,FACILITY CITY,FACILITY STATE,BMEU INDICATOR,FACILITY_ZIP2,FACILITY_TRIM_ZIP
0,1353633,ATWATER,Y24761,56209,562095000,260420.0,Post Office,Administrative Post Office,107 3RD ST N,ATWATER,MN,Y,562095000,56209
1,1353634,ATWATER,Z20151,95301,953019998,50384.0,Post Office,Main Post Office,1599 BROADWAY AVE,ATWATER,CA,Y,953019998,95301
2,1353635,ATWATER,X20119,44201,442019998,380350.0,Post Office,Administrative Post Office,6713 WATERLOO RD,ATWATER,OH,NaN,442019998,44201
3,1353636,ATWOOD,W20081,67730,677309998,190561.0,Post Office,Administrative Post Office,501 MAIN ST,ATWOOD,KS,Y,677309998,67730
4,1353637,ATWOOD,W11922,61913,619139998,160396.0,Post Office,Administrative Post Office,117 W CENTRAL ST,ATWOOD,IL,Y,619139998,61913
5,1353638,ATWOOD,W21847,74827,748279998,390429.0,Post Office,Remotely Managed Post Office,321 HIGHWAY 1,ATWOOD,OK,NaN,748279998,74827
6,1353639,ATWOOD,Z11051,80722,807229998,70468.0,Post Office,Remotely Managed Post Office,16255 FRONT AVE,ATWOOD,CO,NaN,807229998,80722
7,1353640,ATWOOD,X24888,38220,382209998,470384.0,Post Office,Remotely Managed Post Office,1570 E MAIN ST,ATWOOD,TN,Y,382209998,38220
8,1353641,ATWOOD,Z20152,92811,928119997,50390.0,Post Office,Main Post Office,1679 E ORANGETHORPE AVE,ATWOOD,CA,NaN,928119997,92811
9,1353642,ATWOOD,X11497,46502,465029998,170341.0,Post Office,Remotely Managed Post Office,216 E MAIN ST,ATWOOD,IN,NaN,465029998,46502

In [4]:
Parcel.head(5)

  DropSiteKey Metric_1 Metric_2
0      D00501  PV13916  EV18928
1      D00601  PV17135  EV17273
2      D00602  PV17136  EV17273
3      D00603  PV17137  EV17273
4      D00604  PV17137  EV17273

In [5]:
Parcel['Zip'] = Parcel['DropSiteKey'].str[1:]

In [6]:
Parcel.head(10)

  DropSiteKey Metric_1 Metric_2    Zip
0      D00501  PV13916  EV18928  00501
1      D00601  PV17135  EV17273  00601
2      D00602  PV17136  EV17273  00602
3      D00603  PV17137  EV17273  00603
4      D00604  PV17137  EV17273  00604
5      D00605  PV17137  EV17273  00605
6      D00606  PV17225  EV17273  00606
7      D00610  PV17142  EV17273  00610
8      D00611  PV17143  EV17273  00611
9      D00612  PV17144  EV17273  00612

In [10]:
Facility_Parcel = pd.merge(Facility, Parcel, left_on=['FACILITY_TRIM_ZIP'], right_on=['Zip'], how="left")

In [48]:
Parcel['Metric_4'] = Parcel['Metric_2'].str[1:]

In [49]:
Parcel['Metric_3'] = Parcel['Metric_1'].str[1:]

In [51]:
Parcel.head(10)

  DropSiteKey Metric_1 Metric_2    Zip Metric_4 Metric_3
0      D00501  PV13916  EV18928  00501   V18928   V13916
1      D00601  PV17135  EV17273  00601   V17273   V17135
2      D00602  PV17136  EV17273  00602   V17273   V17136
3      D00603  PV17137  EV17273  00603   V17273   V17137
4      D00604  PV17137  EV17273  00604   V17273   V17137
5      D00605  PV17137  EV17273  00605   V17273   V17137
6      D00606  PV17225  EV17273  00606   V17273   V17225
7      D00610  PV17142  EV17273  00610   V17273   V17142
8      D00611  PV17143  EV17273  00611   V17273   V17143
9      D00612  PV17144  EV17273  00612   V17273   V17144

In [11]:
Facility_Parcel.head(10)

,FDB ID,FACILITY NAME,LOCALE KEY,NASS CODE,FACILITY ZIP,FINANCE NUMBER,FACILITY TYPE,FACILITY SUBTYPE,FACILITY ADDRESS,FACILITY CITY,FACILITY STATE,BMEU INDICATOR,FACILITY_ZIP2,FACILITY_TRIM_ZIP,DropSiteKey,Metric_1,Metric_2,Zip
0,1353633,ATWATER,Y24761,56209,562095000,260420.0,Post Office,Administrative Post Office,107 3RD ST N,ATWATER,MN,Y,562095000,56209,D56209,PY24761,EY26241,56209
1,1353634,ATWATER,Z20151,95301,953019998,50384.0,Post Office,Main Post Office,1599 BROADWAY AVE,ATWATER,CA,Y,953019998,95301,D95301,PZ20151,EZ22760,95301
2,1353635,ATWATER,X20119,44201,442019998,380350.0,Post Office,Administrative Post Office,6713 WATERLOO RD,ATWATER,OH,NaN,442019998,44201,D44201,PX20119,EX20034,44201
3,1353636,ATWOOD,W20081,67730,677309998,190561.0,Post Office,Administrative Post Office,501 MAIN ST,ATWOOD,KS,Y,677309998,67730,D67730,PW20081,EW1A071,67730
4,1353637,ATWOOD,W11922,61913,619139998,160396.0,Post Office,Administrative Post Office,117 W CENTRAL ST,ATWOOD,IL,Y,619139998,61913,D61913,PW11922,EW12356,61913
5,1353638,ATWOOD,W21847,74827,748279998,390429.0,Post Office,Remotely Managed Post Office,321 HIGHWAY 1,ATWOOD,OK,NaN,748279998,74827,D74827,PW21829,E011036,74827
6,1353639,ATWOOD,Z11051,80722,807229998,70468.0,Post Office,Remotely Managed Post Office,16255 FRONT AVE,ATWOOD,CO,NaN,807229998,80722,D80722,PZ11051,EZ17853,80722
7,1353640,ATWOOD,X24888,38220,382209998,470384.0,Post Office,Remotely Managed Post Office,1570 E MAIN ST,ATWOOD,TN,Y,382209998,38220,D38220,PX24888,EX25496,38220
8,1353641,ATWOOD,Z20152,92811,928119997,50390.0,Post Office,Main Post Office,1679 E ORANGETHORPE AVE,ATWOOD,CA,NaN,928119997,92811,D92811,PZ20152,EZ24277,92811
9,1353642,ATWOOD,X11497,46502,465029998,170341.0,Post Office,Remotely Managed Post Office,216 E MAIN ST,ATWOOD,IN,NaN,465029998,46502,D46502,PX11497,EX13618,46502

In [12]:
Facility_Parcel['DropSiteKey'].isna().sum()

168

In [13]:
Facility_Parcel.shape

(43096, 18)

In [14]:
L606['Label_Container_to'] = L606['Column B Label Container To'].str[-5:]

In [15]:
L606.head(10)

,Column A Destination ZIP Codes,Column B Label Container To,Label_Container_to
0,"\t00601, 00631",\tADJUNTAS PR 00601,00601
1,\t00603-00605,\tAGUADILLA PR 00603,00603
2,\t00612-00614,\tARECIBO PR 00612,00612
3,\t00680-00682,\tMAYAGUEZ PR 00680,00680
4,\t00693-00694,\tVEGA BAJA PR 00694,00694
5,\t00716-00717,\tPONCE PR 00716,00716
6,"\t00721, 00745",\tRIO GRANDE PR 00745,00745
7,\t00726-00727,\tCAGUAS PR 00726,00726
8,"\t00728, 00730-00731",\tPONCE PR 00728,00728
9,\t00732-00733,\tPONCE PR 00732,00732

In [16]:
del L606['Column B Label Container To']

In [18]:
L606.columns = ['Desitnation_Zip', 'Label_Container_to']

In [19]:
#Transposing all the zipcodes seperated by comman to assign the label container and store it in new dataframe

L606_1 = (L606.set_index(L606.columns.drop('Desitnation_Zip',601).tolist())
   .Desitnation_Zip.str.split(',', expand=True)
   .stack()
   .reset_index()
   .rename(columns={0:'Desitnation_Zip'})
   .loc[:, L606.columns]
   )

In [20]:
L606_1.head(10)

  Desitnation_Zip Label_Container_to
0         \t00601              00601
1           00631              00601
2   \t00603-00605              00603
3   \t00612-00614              00612
4   \t00680-00682              00680
5   \t00693-00694              00694
6   \t00716-00717              00716
7         \t00721              00745
8           00745              00745
9   \t00726-00727              00726

In [21]:
L606_1['Desitnation_Zip'] = L606_1['Desitnation_Zip'].str.replace(r'\t','')

In [22]:
L606_1[['Source_Zip','Destination_Zip1']] = L606_1.Desitnation_Zip.str.split("-",expand=True)

In [23]:
L606_1.head(10)

  Desitnation_Zip Label_Container_to Source_Zip Destination_Zip1
0           00601              00601      00601             None
1           00631              00601      00631             None
2     00603-00605              00603      00603            00605
3     00612-00614              00612      00612            00614
4     00680-00682              00680      00680            00682
5     00693-00694              00694      00693            00694
6     00716-00717              00716      00716            00717
7           00721              00745      00721             None
8           00745              00745      00745             None
9     00726-00727              00726      00726            00727

In [24]:
L606_1.dtypes

Desitnation_Zip       object
Label_Container_to    object
Source_Zip            object
Destination_Zip1      object
dtype: object

In [25]:
L606_1['Destination_Zip1'] = L606_1['Destination_Zip1'].fillna(0)


L606_1 = L606_1[['Source_Zip','Destination_Zip1','Label_Container_to']]

L606_1.head(10)

  Source_Zip Destination_Zip1 Label_Container_to
0      00601                0              00601
1      00631                0              00601
2      00603            00605              00603
3      00612            00614              00612
4      00680            00682              00680
5      00693            00694              00694
6      00716            00717              00716
7      00721                0              00745
8      00745                0              00745
9      00726            00727              00726

In [26]:
L606_1['Source_Zip_int'] = L606_1['Source_Zip'].astype(str).astype(int)
L606_1['Destination_Zip1_int'] = L606_1['Destination_Zip1'].astype(str).astype(int)
L606_1.head(10)

,Source_Zip,Destination_Zip1,Label_Container_to,Source_Zip_int,Destination_Zip1_int
0,00601,0,00601,601,0
1,00631,0,00601,631,0
2,00603,00605,00603,603,605
3,00612,00614,00612,612,614
4,00680,00682,00680,680,682
5,00693,00694,00694,693,694
6,00716,00717,00716,716,717
7,00721,0,00745,721,0
8,00745,0,00745,745,0
9,00726,00727,00726,726,727

In [27]:
solution_df = {'Zip': [],
        'Label_Destination' : []
        }
final_df = pd.DataFrame(solution_df, columns = ['Zip', 'Label_Destination'])

for index,row in L606_1.iterrows():

   
    source_zip = row['Source_Zip_int']
    dest_zip = row['Destination_Zip1_int']
    key = row['Label_Container_to']
   

    if dest_zip - source_zip > 0 :
      final_dest_zip = dest_zip
    else:
      final_dest_zip = source_zip
    #print(final_dest_zip)
    
    while final_dest_zip >= source_zip:
          temp_df = pd.DataFrame([[source_zip,key]], columns=['Zip', 'Label_Destination'])
          final_df = final_df.append(temp_df)    
          source_zip += 1

In [28]:
final_df.head(10)

     Zip Label_Destination
0  601.0             00601
0  631.0             00601
0  603.0             00603
0  604.0             00603
0  605.0             00603
0  612.0             00612
0  613.0             00612
0  614.0             00612
0  680.0             00680
0  681.0             00680

In [29]:
final_df['Zip'] = final_df['Zip'].apply(int).apply(str)
final_df['Zip_Updated'] = final_df['Zip'].apply(lambda x: x.zfill(5))

In [32]:
final_df.head(10)

  Zip_Updated Label_Destination
0       00601             00601
0       00631             00601
0       00603             00603
0       00604             00603
0       00605             00603
0       00612             00612
0       00613             00612
0       00614             00612
0       00680             00680
0       00681             00680

In [33]:
final_df = final_df[['Zip_Updated','Label_Destination']]
final_df = final_df.rename(columns={'Label_Destination': 'Schemes'})

In [34]:
final_df.head(10)

  Zip_Updated Schemes
0       00601   00601
0       00631   00601
0       00603   00603
0       00604   00603
0       00605   00603
0       00612   00612
0       00613   00612
0       00614   00612
0       00680   00680
0       00681   00680

In [35]:
Facility_Parcel.head(10)

,FDB ID,FACILITY NAME,LOCALE KEY,NASS CODE,FACILITY ZIP,FINANCE NUMBER,FACILITY TYPE,FACILITY SUBTYPE,FACILITY ADDRESS,FACILITY CITY,FACILITY STATE,BMEU INDICATOR,FACILITY_ZIP2,FACILITY_TRIM_ZIP,DropSiteKey,Metric_1,Metric_2,Zip
0,1353633,ATWATER,Y24761,56209,562095000,260420.0,Post Office,Administrative Post Office,107 3RD ST N,ATWATER,MN,Y,562095000,56209,D56209,PY24761,EY26241,56209
1,1353634,ATWATER,Z20151,95301,953019998,50384.0,Post Office,Main Post Office,1599 BROADWAY AVE,ATWATER,CA,Y,953019998,95301,D95301,PZ20151,EZ22760,95301
2,1353635,ATWATER,X20119,44201,442019998,380350.0,Post Office,Administrative Post Office,6713 WATERLOO RD,ATWATER,OH,NaN,442019998,44201,D44201,PX20119,EX20034,44201
3,1353636,ATWOOD,W20081,67730,677309998,190561.0,Post Office,Administrative Post Office,501 MAIN ST,ATWOOD,KS,Y,677309998,67730,D67730,PW20081,EW1A071,67730
4,1353637,ATWOOD,W11922,61913,619139998,160396.0,Post Office,Administrative Post Office,117 W CENTRAL ST,ATWOOD,IL,Y,619139998,61913,D61913,PW11922,EW12356,61913
5,1353638,ATWOOD,W21847,74827,748279998,390429.0,Post Office,Remotely Managed Post Office,321 HIGHWAY 1,ATWOOD,OK,NaN,748279998,74827,D74827,PW21829,E011036,74827
6,1353639,ATWOOD,Z11051,80722,807229998,70468.0,Post Office,Remotely Managed Post Office,16255 FRONT AVE,ATWOOD,CO,NaN,807229998,80722,D80722,PZ11051,EZ17853,80722
7,1353640,ATWOOD,X24888,38220,382209998,470384.0,Post Office,Remotely Managed Post Office,1570 E MAIN ST,ATWOOD,TN,Y,382209998,38220,D38220,PX24888,EX25496,38220
8,1353641,ATWOOD,Z20152,92811,928119997,50390.0,Post Office,Main Post Office,1679 E ORANGETHORPE AVE,ATWOOD,CA,NaN,928119997,92811,D92811,PZ20152,EZ24277,92811
9,1353642,ATWOOD,X11497,46502,465029998,170341.0,Post Office,Remotely Managed Post Office,216 E MAIN ST,ATWOOD,IN,NaN,465029998,46502,D46502,PX11497,EX13618,46502

In [36]:
Facility_Parcel_final_df = pd.merge(Facility_Parcel, final_df, left_on=['FACILITY_TRIM_ZIP'], right_on=['Zip_Updated'], how="left")

In [37]:
Facility_Parcel_final_df

,FDB ID,FACILITY NAME,LOCALE KEY,NASS CODE,FACILITY ZIP,FINANCE NUMBER,FACILITY TYPE,FACILITY SUBTYPE,FACILITY ADDRESS,FACILITY CITY,FACILITY STATE,BMEU INDICATOR,FACILITY_ZIP2,FACILITY_TRIM_ZIP,DropSiteKey,Metric_1,Metric_2,Zip,Zip_Updated,Schemes
0,1353633,ATWATER,Y24761,56209,562095000,260420.0,Post Office,Administrative Post Office,107 3RD ST N,ATWATER,MN,Y,562095000,56209,D56209,PY24761,EY26241,56209,NaN,NaN
1,1353634,ATWATER,Z20151,95301,953019998,50384.0,Post Office,Main Post Office,1599 BROADWAY AVE,ATWATER,CA,Y,953019998,95301,D95301,PZ20151,EZ22760,95301,NaN,NaN
2,1353635,ATWATER,X20119,44201,442019998,380350.0,Post Office,Administrative Post Office,6713 WATERLOO RD,ATWATER,OH,NaN,442019998,44201,D44201,PX20119,EX20034,44201,NaN,NaN
3,1353636,ATWOOD,W20081,67730,677309998,190561.0,Post Office,Administrative Post Office,501 MAIN ST,ATWOOD,KS,Y,677309998,67730,D67730,PW20081,EW1A071,67730,NaN,NaN
4,1353637,ATWOOD,W11922,61913,619139998,160396.0,Post Office,Administrative Post Office,117 W CENTRAL ST,ATWOOD,IL,Y,619139998,61913,D61913,PW11922,EW12356,61913,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43091,1561711,DEPARTMENT OF ECONOMIC SEC DES,N24201,850DE,850401995,NaN,Non-Postal Facility,Plant Load Major Mailer,4710 E ELWOOD ST STE 3,PHOENIX,AZ,NaN,850401995,85040,D85040,SZ10849,EZ10745,85040,NaN,NaN
43092,1561731,LEAFSIDE TEAM,N24202,852LS,852834308,NaN,Non-Postal Facility,Plant Load Major Mailer,7425 S HARL AVE STE 1,TEMPE,AZ,NaN,852834308,85283,D85283,S000974,EZ10745,85283,NaN,NaN
43093,1561732,PERSONA NUTRITION,N24203,152NP,152751067,NaN,Non-Postal Facility,Plant Load Major Mailer,112 TECHNOLOGY DR STE 100,PITTSBURGH,PA,NaN,152751067,15275,D15275,BX18723,EX1A541,15275,15275,15205
43094,1561733,RR DONNELLEY,N24204,176FF,176013153,NaN,Non-Postal Facility,Detached Mail Unit (DMU),391 STEEL WAY,LANCASTER,PA,NaN,176013153,17601,D17601,4X1C373,EX18801,17601,17601,17601
43095,1561734,GOAT.COM,N24205,902GT,902322315,NaN,Non-Postal Facility,Plant Load Major Mailer,3960 LANDMARK ST,CULVER CITY,CA,NaN,902322315,90232,D90232,PZ20809,EZ24121,90232,NaN,NaN

In [39]:
Facility_Parcel_final_df['Schemes'] = Facility_Parcel_final_df['Schemes'].fillna('00000')
Facility_Parcel_final_df['Zip_Updated'] = Facility_Parcel_final_df['Zip_Updated'].fillna('00000')
Facility_Parcel_final_df.head(10)

,FDB ID,FACILITY NAME,LOCALE KEY,NASS CODE,FACILITY ZIP,FINANCE NUMBER,FACILITY TYPE,FACILITY SUBTYPE,FACILITY ADDRESS,FACILITY CITY,FACILITY STATE,BMEU INDICATOR,FACILITY_ZIP2,FACILITY_TRIM_ZIP,DropSiteKey,Metric_1,Metric_2,Zip,Zip_Updated,Schemes
0,1353633,ATWATER,Y24761,56209,562095000,260420.0,Post Office,Administrative Post Office,107 3RD ST N,ATWATER,MN,Y,562095000,56209,D56209,PY24761,EY26241,56209,00000,00000
1,1353634,ATWATER,Z20151,95301,953019998,50384.0,Post Office,Main Post Office,1599 BROADWAY AVE,ATWATER,CA,Y,953019998,95301,D95301,PZ20151,EZ22760,95301,00000,00000
2,1353635,ATWATER,X20119,44201,442019998,380350.0,Post Office,Administrative Post Office,6713 WATERLOO RD,ATWATER,OH,NaN,442019998,44201,D44201,PX20119,EX20034,44201,00000,00000
3,1353636,ATWOOD,W20081,67730,677309998,190561.0,Post Office,Administrative Post Office,501 MAIN ST,ATWOOD,KS,Y,677309998,67730,D67730,PW20081,EW1A071,67730,00000,00000
4,1353637,ATWOOD,W11922,61913,619139998,160396.0,Post Office,Administrative Post Office,117 W CENTRAL ST,ATWOOD,IL,Y,619139998,61913,D61913,PW11922,EW12356,61913,00000,00000
5,1353638,ATWOOD,W21847,74827,748279998,390429.0,Post Office,Remotely Managed Post Office,321 HIGHWAY 1,ATWOOD,OK,NaN,748279998,74827,D74827,PW21829,E011036,74827,00000,00000
6,1353639,ATWOOD,Z11051,80722,807229998,70468.0,Post Office,Remotely Managed Post Office,16255 FRONT AVE,ATWOOD,CO,NaN,807229998,80722,D80722,PZ11051,EZ17853,80722,00000,00000
7,1353640,ATWOOD,X24888,38220,382209998,470384.0,Post Office,Remotely Managed Post Office,1570 E MAIN ST,ATWOOD,TN,Y,382209998,38220,D38220,PX24888,EX25496,38220,00000,00000
8,1353641,ATWOOD,Z20152,92811,928119997,50390.0,Post Office,Main Post Office,1679 E ORANGETHORPE AVE,ATWOOD,CA,NaN,928119997,92811,D92811,PZ20152,EZ24277,92811,00000,00000
9,1353642,ATWOOD,X11497,46502,465029998,170341.0,Post Office,Remotely Managed Post Office,216 E MAIN ST,ATWOOD,IN,NaN,465029998,46502,D46502,PX11497,EX13618,46502,00000,00000

In [41]:
Facility_Parcel_final_df = Facility_Parcel_final_df.rename(columns={'FACILITY_TRIM_ZIP': 'Zipcode'})

In [42]:
Facility_Parcel_final_df.groupby('Schemes')['DropSiteKey'].count()

Schemes
00000    33473
00601        1
00603        3
00612        3
00680        2
         ...
99701        1
99702        2
99709        4
99801        5
99901        2
Name: DropSiteKey, Length: 3583, dtype: int64

In [43]:
Facility_Parcel_final_df[Facility_Parcel_final_df['Schemes']=='00612']

,FDB ID,FACILITY NAME,LOCALE KEY,NASS CODE,FACILITY ZIP,FINANCE NUMBER,FACILITY TYPE,FACILITY SUBTYPE,FACILITY ADDRESS,FACILITY CITY,FACILITY STATE,BMEU INDICATOR,FACILITY_ZIP2,Zipcode,DropSiteKey,Metric_1,Metric_2,Zip,Zip_Updated,Schemes
569,1353291,ARECIBO,V17144,00612,6129998,420900.0,Post Office,Main Post Office,10 AVE SAN PATRICIO,ARECIBO,PR,Y,006129998,00612,D00612,PV17144,EV17273,00612,00612,00612
570,1353292,ARECIBO PUEBLO,V19847,006AA,6121997,420820.0,Post Office,Station,442 AVE JUAN ROSADO STE 1,ARECIBO,PR,NaN,006121997,00612,D00612,PV17144,EV17273,00612,00612,00612
31849,1359375,COTTO,V19848,006CF,6129996,420821.0,Post Office,Finance Station,22 CALLE CENTRO COMERCIAL,ARECIBO,PR,NaN,006129996,00612,D00612,PV17144,EV17273,00612,00612,00612

In [44]:
dropsite_scheme_check = Facility_Parcel_final_df.groupby('Schemes')['DropSiteKey'].nunique().reset_index()

In [45]:
print(dropsite_scheme_check[dropsite_scheme_check['DropSiteKey']>1])

     Schemes  DropSiteKey
0      00000        25612
4      00680            2
9      00745            2
18     00914            5
19     00918            2
...      ...          ...
3552   98903            2
3562   99163            2
3569   99502            2
3579   99702            2
3580   99709            2

[1071 rows x 2 columns]

In [46]:
zipcode_scheme_check = Facility_Parcel_final_df.groupby('Zipcode')['Schemes'].nunique().reset_index()

print(zipcode_scheme_check[zipcode_scheme_check['Schemes']>1])

Empty DataFrame
Columns: [Zipcode, Schemes]
Index: []